<footer className="container-fluid bg-light" style="font-family: Spartan; background-color: #000000">
    <div className="border-top text-center py-3">
       <p className="p-0 m-0 font-weight-bolder text-center" style=" color: #ffff; padding: 0; text-align: center; margin: 0;"> © Copyright 2020 - All Rights Reserved </p>
    </div>
</footer>
</body>
</html>