<nav class="navbar navbar-expand-lg navbar-light pb-3" style="background-color: #fff;">
    <a class="navbar-brand" href="/"><img class="m-3" src="/public/img/Soren.png" alt="Soren" style="width: 200px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-uppercase" href="/">Página inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Avaliar local</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary text-light nav-link text-uppercase" href="#">Entrar</a>
          </li>
        </ul>
      </div>
</nav>