<%- include ('partials/head.ejs') %>
<%- include ('partials/navbar.ejs')  %>

<section class="container-fluid text-center w-75" style="font-family: 'Spartan', sans-serif;">
    <div class="container w-75">
    <h2 class="pt-4">O que é SOREN?</h2>
    <h5 class="py-3">Aplicação web que tem por objetivo ajudar na qualidade de vida, sobretudo na área de lazer do
        público
        LGBTQI+.</h5>
    </div>
    <div class="container w-75">
    <h2 class="pt-4">O que o SOREN faz?</h2>
    <h5 class="py-3"> A aplicação permite o cadastro de locais e pessoas, onde pessoas avaliam locais como sendo
        amigáveis ou não para a
        minoria em questão.</h5>
    </div>

  

            <section class="container py-5">
                <h2 class="pb-5">O que significa locais amigáveis e não amigáveis?</h2>
                <div class="row card-columns">
                    <div class="container">
                  <div class=" col card align-itens-center bg-light mx-3">
                    <img src="good.svg" class="img-fluid card-img-top mt-3" style="width: 70px">
                  <div class="card-body">
                      <h3>Lugares Amigáveis</h3>
                      <h5 class="card-text"> Lugares onde pessoas LGBTQI+ se sentiram bem recepcionadas </h5>
                  </div>
                  </div>
                </div>
                <div class="container">
                  <div class="col card align-itens-center bg-light mx-3">
                    <img src="bad.svg" class="img-fluid card-img-top mt-3" style="width: 70px">
                    <div class="card-body">
                        <h3>Lugares Não Amigáveis</h3>
                        <h5 class="card-text"> Lugares onde pessoas foram maltratadas por serem LGBTQI+ </h5>
                    </div>
                  </div>
                </div>
            </div>
            </section>

    <section class="container-fluid pb-4">
        <h3 class="py-4">Colaboradores:</h3>
        <div class="container">
        <div class="row">
            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="anna.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Anna</p>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="https://github.com/GingerSnowFox" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                             <a href="https://www.linkedin.com/in/annagrateki/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                             
                         </div>
                    </div>
                </div>
            </div>

            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="daniel.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Daniel</p>
                        <div class="d-flex justify-content-around mt-2">
                           <a href="https://github.com/Dx00" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                            <a href="https://www.linkedin.com/in/daniel-nascimento-viana-8b7ab9191/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                            
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="gustavo.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Gustavo</p>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="https://github.com/ogustavosantosc" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                             <a href="https://www.linkedin.com/in/ogustavosantosc/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                             
                         </div>
                    </div>
                </div>
            </div>

            
            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="julia.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Julia</p>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="https://github.com/juliarodriguesamaral" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                             <a href="https://www.linkedin.com/in/julia-rodrigues-amaral/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                             
                         </div>
                    </div>
                </div>
            </div>

            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="lucas.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Lucas</p>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="https://github.com/lukxsousa" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                             <a href="https://www.linkedin.com/in/lucas-siqueira-sousa-252b96165/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                             
                         </div>
                    </div>
                </div>
            </div>

            <div class="col-sm py-2">
                <div class="card bg-light">
                    <img src="vinicius.png" class="rounded card-img-top img-fluid">
                    <div class="card-body">
                        <p class="font-weight-bold mb-0">Vinicius</p>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="https://github.com/Vinicius1907" target="_blank"><img src="github.svg" style="width: 25px;" class="img-fluid"></a>
                             <a href="https://www.linkedin.com/in/viniciuslima1907/" target="_blank"><img src="linkedin.svg" style="width: 25px;" class="img-fluid"></a>
                             
                         </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>

<%- include ('partials/footer.ejs') %>